# Node modules
node_modules/

# Env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/

# System files
.DS_Store
Thumbs.db

# Cache
.cache/
.npm/
.yarn/

# IDE settings
.vscode/
.idea/
